<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3202.1686" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3202.1686" targetFramework="net461" />
  <package id="Google.Apis" version="1.31.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.31.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.31.1" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.31.1.1063" targetFramework="net461" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net461" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>