<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net461" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.32.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.32.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.32.0" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.32.0.1079" targetFramework="net461" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net461" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="Xabe.FFmpeg" version="2.3.0" targetFramework="net461" />
</packages>